<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpeg" class="img-fluid" id="FotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> Sosa Marcelo Agustin</p>
        <p>full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit, a
            met consectetur adipisicing el
            umque ad a, iste corporis cons
            equatur excepturi optio unde 
            neque aspernatur officia prae
            sentium incidunt nobis.
            </p>
        </span>
    </div>
</div>
